<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="style.css">
    <title>All Ruby Jobs</title>
  </head>
  <body>
    <div class="container">
      <ul class="main">
        <h2>Jobs from <a href="<%= base_url %>"><%= site_name %></a></h2>
        <% jobs.each do |job| %>
          <li>
            <a href="<%= job[:href] %>"><%= job[:title] %></a>
            <p><%= job[:misc] %></p>
          </li>
        <% end %>
      </ul>
      <%= footer %>
    </div>
  </body>
</html>
